@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: Monaco, monospace;
    font-size: 14px;
    box-sizing: border-box;
    color: #c9cacc;
}

.fade {
    transition: opacity 0.3s;

}

.fade.out {
    opacity: 0;
}